.navbar a{
    margin-right: 15px;
    color: white;
    font-weight: 500;
}
.cartlength{
    background-color:#2b96e2;
    padding: 4px 7px;
    border-radius: 100px;
    position: relative;
    bottom: 12px;
    right:3px;
}